[Desktop Entry]
Encoding=UTF-8
Name=EpiData Manager
Comment=EpiData Project Management Tool
Exec=epidatamanager
Terminal=false
Type=Application
Icon=epidatamanager.png
Categories=Office;Database;ProjectManagement;GTK
