Package: {{ COMPONENT }}
Maintainer: Torsten Bonde Christiansen <tc@epidata.dk>
Depends: libgtk2.0-0 (>= 2.6)
Priority: optional
Section: non-free/x11
Architecture: amd64
Version: {{ VERSION }}
Description: {{ SHORT }}
  {{ DESCRIPTION }}
